<article class="event-card">
  <div class="event-meta">
    <span class="event-type">{{ event.type }}</span>
    <span class="event-date">
        {% if event.date %}
          {{ event.date | date: "%B %d, %Y" }}
        {% endif %}
    </span>
  </div>

  <h3 class="event-title">{{ event.title }}</h3>

    {% if event.host %}
    {% assign host = site.members | where: "slug", event.host | first %}
    {% if host %}
    <div class="event-host">
      <img
        src="{{ host.photo | relative_url }}"
        alt="Photo of {{ host.name }}"
        class="event-host-photo"
      >
      <div class="event-host-info">
        <p class="event-host-name">{{ host.name }}</p>
        {% if host.affiliation %}
          <p class="event-host-affiliation">{{ host.affiliation }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endif %}

  <p class="event-details">
      {% if event.date %}
        📅 &nbsp;{{ event.date | date: "%d/%m/%Y" }}<br>
      {% else %}
        📅 &nbsp;TBA<br>
      {% endif %}

      {% if event.time and event.timezone %}
        🕒 &nbsp;{{ event.time }} ({{ event.timezone }}) <br>
      {% else %}
        🕒 &nbsp;TBA <br>
      {% endif %}

      {% if event.location %}
        📍 &nbsp;{{ event.location }}<br>
      {% else %}
        📍 &nbsp;TBA <br>
      {% endif %}

      {% if event.recording %}
      <a href="{{ event.recording }}"
           target="_blank" rel="noopener"
           aria-label="iAIMS YouTube channel">
          <i class="fa-brands fa-youtube"></i> &nbsp;Recording<br>
      </a>
      {% endif %}

      {% if event.linkedin %}
      <a href="{{ event.linkedin }}"
           target="_blank" rel="noopener"
           aria-label="iAIMS LinkedIn">
          <i class="fa-brands fa-linkedin"></i> &nbsp;LinkedIn event<br>
      </a>
      {% endif %}

      {% if event.houserules %}
      <a href="{{ event.houserules }}"
           target="_blank" rel="noopener"
           aria-label="iAIMS Journal Club house rules">
           🏠&nbsp; House rules<br>
      </a>
      {% endif %}

      {% if event.googleforms %}
      <a href="{{ event.googleforms }}"
           target="_blank" rel="noopener"
           aria-label="JC Google forms">
           📝&nbsp; Post-event survey<br>
      </a>
      {% endif %}
  </p>

  <div class="event-description">
    {{ event.content | markdownify }}
  </div>

  {% if event.link %}
    <p class="hero-buttons">
    <ul class="nav-links">
      <a class="cta"
         href="{{ event.link }}">
        Join Meeting
      </a>
      <a class="cta"
         href="{{ event.ics }}">
        Add to your calendar
      </a>
    </ul>
    </p>
  {% endif %}
</article>
